body {
  text-align: center;
    font-family: 'Jakarta', sans-serif;
  }
   
  
  .title{
    
    font-size: 20px;
    padding-right: 2rem;
  font-weight: bolder;
  }
 
 
   ul {
  
    margin-left: 43rem;
  
    display: flex;
    gap: 2rem;
    text-decoration:none;
  list-style: none;
    justify-content: center;
    align-items:center;
 
  }  
 

  li a{
    text-decoration:none;
   color:black;
   font-weight: bolder;
  letter-spacing: .5px;
   padding: .5rem;
  }
 li a:hover{
  color:rgb(84, 187, 87) ;
 }
  .Card{
    padding: 2rem;
  }
  button{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color:#c62828 ;
    color: white;
    border-radius: .5rem;
    padding: .8rem 1.5rem;
    margin-right: 5rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    border-color: aliceblue;
  }
  